@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black: #333;
    --white: #fff;
    --gray: #A8A8A8;
    --gray2: #ECECEC;
}

header {
    width: 100%;
    height: 95px;
}

#navbar {
    z-index: 0;
    position: absolute;
    top: 0;
    left: -700px;
    width: 49.5%;
    height: 100vh; /* Chiếm toàn bộ chiều cao của màn hình */
    background: rgba(255, 165, 0, 0.5);
    transition: left 0.7s ease;
    text-align: right;
    padding-top: 200px;
    padding-right: 20px;
}

#navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    z-index: 1000;
    margin-bottom: 10px;
}

.h-container {
    width: 80%;
    height: 95px;
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;    
}

.h-menu {
    margin-top: 60px;
}

.h-menu button {
    border: none;
    background-color: transparent;
    z-index: 10000;
}

.h-menu button i {
    margin-right: 6px;
}

.h-menu a, .h-languages a {
    text-decoration: none;
    font-size: 14px;
    color: var(--gray);
}

.h-menu a i, .h-languages a i {
    margin-right: 5px;
}

.h-logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.h-languages {
    margin-top: 60px;
}

section#fashion {
    width: 100%;
    height: auto;
}

.fashion-container {
    width: 80%;
    height: auto;
    margin: 0 auto; 
}

.fashion-title {
    width: 100%;
    height: 100px;
    padding-top: 15px;
}

.fashion-title h1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.fashion-des1 {
    width: 100%;
}

.fashion-des1 img {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 80px;
}

.des1-text {
    width: 70%;
    margin: 0 auto;
}

.fashion-des1 .des1-text h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    text-align: center;
}

.fashion-des2 {
    display: flex;
    padding-top: 40px;
}

.text2 {
    width: 50%;
    padding-right: 40px;
}

.text2 h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    text-align: justify;
}

.text2 h1#chat {
    position: absolute;
    font-size: 240px;
    font-weight: 600;
    color: var(--gray);
    text-align: right;
    margin-top: 36px;
    top: 899px;
    left: 0;
}

.img2 {
    width: 50%;
    height: 100%;
}

.img2 .img2-1 {
    display: flex;
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}

.img2 .img2-1 img {
    width: 48%;
    margin-right: 10px;
}

.img2 .img2-2 {
    display: flex;
    width: 100%;
    height: 50%;
}

.img2 .img2-2 img {
    width: 48%;
    margin-right: 10px;
}

.fashion-des3 {
    display: flex;
    justify-content: space-between;
    
}

.text-empty {
    width: 33%;
}

.text3 {
    width: 33%;
    padding-top: 55px;
    padding-right: 40px;
}

.text3-1 {
    width: 33%;
}

.fashion-des3 h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    text-align: justify;
}

.fashion-des3 h1 {
    font-size: 240px;
    font-weight: 600;
    color: var(--gray);
    text-align: right;
}

.fashion-des4 {
    padding-top: 40px;
}

.fashion-des4 h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
    text-align: center;
}

.fashion-des5 {
    display: flex;
    padding-top: 20px;
}

.img5 {
    width: 50%;
    height: 100%;
}

.img5 .img2-1 {
    display: flex;
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}

.img5 .img2-1 img {
    width: 48%;
    margin-right: 10px;
}

.img5 .img2-2 {
    display: flex;
    width: 100%;
    height: 50%;
}

.img5 .img2-2 img {
    width: 48%;
    margin-right: 10px;
    object-fit: cover;
}

#lovisong {
    width: 46%;
    margin-top: 20px;
}

.text5 {
    width: 50%;
    padding-left: 20px;
}

.text5 h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    text-align: justify;
    margin-bottom: 25px;
}

.fashion-des6 {
    position: relative;
}

.fashion-des6 h1 {
    font-size: 111px;
    font-weight: 600;
    color: var(--gray);
    text-align: center;
}

.fashion-des6 #bg {
    font-size: 220px;
    font-weight: 600;
    color: var(--gray2);
    text-align: center;
    position: absolute;
    top: -60px;
    left: 45%;
    z-index: -10;
}

.fashion-des7 {
    padding-top: 60px;
}

.fashion-des7 h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
    text-align: center;
}

.fashion-des7 h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    text-align: center;
}

.fashion-des8 {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text8 {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.text8 h1 {
    font-size: 50px;
    font-weight: 600;
    color: var(--black);
    text-align: justify;
}

.text8 h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    text-align: justify;
    margin-top: 50px;
}

.text8 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 50px;
}

.img8 {
    width: 40%;
}

.img8 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img8 img#outimg {
    width: 44%;
    height: 140%;
    object-fit: cover;
    left: 0;
    position: absolute;
}

#t8 ,#t81 {
    padding-left: 50px;
}

#t8 {
    padding-top: 100px;
}

.fashion-des9 {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 50px;
}

.fashion-des9 h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray);
    text-align: center;
}

.fashion-des9 img {
    width: 300px;
    object-fit: cover;
}

footer {
    width: 100%;
    height: 310px;
    padding-top: 20px;
}

.f-container {
    width: 80%;
    margin: 0 auto;
}

.f-row1 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row1-img #f-img1 {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.row1-img #f-img2 {
    width: 250px;
    height: 60px;
    object-fit: cover;
}

.f-row2 {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.f-row3 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.row2-title h3, .row3-info1 h3, .row3-info2 h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray);
}

.row2-title #r2-e {
    text-align: right;
}

.row2-title h3 {
    text-align: left;
}

.row2-title img {
    width: 100px;
}

.row3-info1 h3 {
    text-align: left;
}

.row3-info2 h3 {
    text-align: right;
}


@media (min-width: 1920px) {
    #navbar {
        left: -950px;
        padding-top: 350px;
    }

    .img8 img#outimg {
        width: 40%;
        height: 110%;
    }
}