@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black: #333;
    --white: #fff;
    --gray: #A8A8A8;
    --gray2: #ECECEC;
}

header {
    width: 100%;
    height: 95px;
}

.h-container {
    width: 65%;
    height: 95px;
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;    
}

.h-menu {
    margin-top: 60px;
}

#menu-button {
    border: none;
    background-color: transparent;
    color: var(--black);
}

.h-menu a, .h-languages a {
    text-decoration: none;
    font-size: 14px;
    color: var(--black);
}

.h-menu a i, .h-languages a i {
    margin-right: 5px;
}

.h-logo img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}
.h-languages {
    margin-top: 60px;
}


secion#news1,  secion#news2, secion#news2 {
    width: 100%;
    height: 200vh;
}

.n-container {
    display: none;
}

button.active {
    color: var(--black);
}


.news-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.news-row1, .news-row2, .news-row3 {
    width: 100%;
    height: 50%;
    display: flex;
}

.row1-left, .row1-right, .row2-left, .row2-right, .row3-left, .row3-right {
    width: 50%;
    height: 100%;
    text-align: left;
}

.row1-left {
    padding-top: 40px;
    padding-right: 30px;
}

.row2-left {
    padding-top: 40px;
    padding-left: 40px;
}

.row3-left {
    padding-top: 40px;
    padding-right: 40px;
    text-align: right;
}

#r3 {
    padding-top: 40px;
    padding-left: 0;
}

.news-title h1 {
    font-size: 34px;
    font-weight: 600;
    color: var(--black);
}

.news-title2 h1, .news-title3 h1 {
    font-size: 15px;
    font-weight: 600;
    color: var(--gray);
}

.news-line {
    width: 160px;
    height: 2px;
    background-color: var(--gray);
    margin-top: 20px;
}

.news-line2 {
    width: 160px;
    height: 2px;
    background-color: var(--gray);
    margin-top: 40px;
}

.news-line3 {
    width: 160px;
    height: 2px;
    background-color: var(--gray);
    margin-top: 20px;
    float: right;
}

.news-des h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray);
    margin-top: 30px;
}

.news-des3 h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray);
    margin-top: 50px;
}

.news-day2 h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 40px;
}

.news-day3 h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 40px;
}

.news-des2 h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray);
    margin-top: 20px;
}

.news-des a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    border: 2px solid var(--black);
    color: var(--black);
    bottom: 50px;
    left: 100px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 40px;
    margin-right: 30px;
}

.news-des2 a {
    display: inline-block;
    text-decoration: none;
    padding: 2px 20px;
    border: 2px solid var(--gray);
    color: var(--gray);
    bottom: 50px;
    left: 100px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 30px;
}

.news-des3 a {
    display: inline-block;
    text-decoration: none;
    padding: 2px 20px;
    border: 2px solid var(--gray);
    color: var(--gray);
    bottom: 50px;
    left: 100px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
}

.row1-right img, .row2-right img, .row3-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#news button {
    text-align: center;
}

.pagination, .pagination1 {
    margin: 0 auto;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
}

.pagination {
    padding-top: 70px;
}

.pagination1 {
    padding-top: 20px;
}

.pagination1 a {
    display: block;
    width: 240px;
    height: 38px;
    border: none;
    border-radius: 20px;
    background-color: var(--gray);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding-top: 8px;
    padding-left: 40px;
}

.pagination button {
    width: 25px;
    height: 25px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    cursor: pointer;
}

.pagination button:hover {
    background-color: #ddd;
}

.h-menu button i {
    margin-right: 6px;
}

#navbar {
    z-index: 0;
    position: absolute;
    top: 0;
    left: -700px;
    width: 49.5%;
    height: 100vh; /* Chiếm toàn bộ chiều cao của màn hình */
    background: rgba(255, 165, 0, 0.5);
    transition: left 0.7s ease;
    text-align: right;
    padding-top: 200px;
    padding-right: 20px;
}

#navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    z-index: 1000;
    margin-bottom: 10px;
}




footer {
    width: 100%;
    height: 310px;
}

.f-container {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid var(--black);
}

.f-row1 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.row1-img #f-img1 {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.row1-img #f-img2 {
    width: 100%;
    height: 40px;
    object-fit: cover;
}

#hwk {
    font-weight: 600;
}

.f-row2 {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.f-row3 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.row2-title h3, .row3-info1 h3, .row3-info2 h3 {
    font-size: 12px;
    font-weight: 500;
    color: var(--black);
}

.row2-title #r2-e {
    text-align: right;
}

.row2-title h3 {
    text-align: left;
}

.row2-title img {
    width: 54%;
    height: 20px;
}

.row3-info1 {
    width: 74%;
}

.row3-info1 h3 {
    text-align: left;
}

.row3-info2 h3 {
    text-align: right;
}

@media (min-width: 1920px) {
    #navbar {
        left: -950px;
        padding-top: 350px;
    }
}